services:
  db:
    image: mysql:8.0
    container_name: annotation_db
    restart: always
    environment:
      MYSQL_DATABASE: example_app_annotation
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: